<h1>Editing <%= @artist.name %></h1> #just display the artist name your changing 

# <%= form_for @artist  do |f| %>
#   <%= f.label :name %>
#   <%= f.text_field :name %>
#   <br />

#   <%= f.submit %>
# <% end %>

<%= render "form" %> #render a form to edit an artist  