<h1>Create a Song</h1>

# <%= form_for @song  do |f| %>
#   <%= f.label :title %>
#   <%= f.text_field :title %>
#   <br />

#   <%= f.submit %>
# <% end %>

<%= render "form" %> #takes you to the form to create a new song 
